html {
	background: #CA3739;
}

.title, h1.is-1, h1.is-2, h1.is-3, h1.is-4 {
	font-family: 'Nunito Sans', sans-serif !important;
}

p, span, button {
	font-family: 'PT Sans', sans-serif !important;
}

.panel-dark {
	background: #CA3739;
}

.panel-light {
	background: rgba(255, 255, 255, 1.0);
}

.panel-fused {
	background: #190807 !important;
}

.panel-dark .title, .panel-dark .subtitle, .panel-dark .content {
	color: white !important;
}

.inverted {
	color: white !important;
}

.darkened {
	color: #190807 !important;
}

.is-transparent {
	background: transparent !important;
}

.has-no-border {
	border: none !important;
}

.link.inverted {
	font-weight: bold;
}

.is-bold {
	font-weight: bold !important;
}

.vex.vex-theme-plain .vex-dialog-button.vex-dialog-button-primary {
	background: #CA3739;
}

input:focus {
	border-color: rgba(200, 200, 200, 1.0) !important;
}

/* LANDING PAGE */

.section {
	padding: 10vh 7.5vh;
}

.scene-container {
	height: 100vh;
	background: #190807;
	/*background: hsl(359, 58%, 50%);
	background: url('../img/crown-splash.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}

#scene-source {
	width: 100%;
	height: 100%;
}

.body-cover {
	position: absolute;
	z-index: 100;
	width: 100%;
}

.body-cover .section {
	padding: 0 10px !important;
}

.top {
	top: 100px;
	pointer-events: none;
}

.bottom {
	bottom: 45px;
}

.highlight-container {
	margin: 150px auto;
	background: rgba(150, 29, 18, 0.85);
	width: 250px;
	height: 250px;
}

.button {
	margin: 0 10px 25px 10px;
}

.scarlet {
	color: #CB2B1D;
}

.subtitle {
	margin-bottom: 0 !important;
}

/* #DB4156 */
/* #CB2B1D */
/* #CA3739 */

/*::moz-selection {
	color: white !important;
	background: #CA3739 !important;
}

::selection {
	color: white !important;
	background: #CA3739 !important;
}*/

.loader {
	display: inline-block !important;
}

.limited-selector {
	max-width: 80vw !important;
	overflow-x: hidden !important;
}

.sponsor-container {
	margin-bottom: 20px;
}

.is-sponsor-wide {
	/*width: 120px;*/
	height: 60px;
	display: inline-block !important;
	vertical-align: middle;
	/*border: 1px solid red;*/
	margin: 20px;
}

.is-sponsor-wide:hover {
	cursor: pointer;
	-webkit-filter: invert(100%);
}

.is-sponsor-wide img {
	width: auto;
	max-height: 100%;
	vertical-align: middle;
	/*max-height: 25px;
	max-width: 160px;*/
}

.is-sponsor-wide .logo-helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	display: none;
}

.schedule .column {
	padding: 5px 10px !important;
}

