html {
	background: rgba(245, 245, 245, 1.0);
}

.title {
	font-family: 'Nunito Sans', sans-serif !important;
}

.panel-dark {
	background: rgba(219, 65, 86, 1.0);
}

.panel-light {
	background: rgba(255, 255, 255, 1.0);
}

.panel-dark .title, .panel-dark .subtitle, .panel-dark .content {
	color: white !important;
}

.vex.vex-theme-plain .vex-dialog-button.vex-dialog-button-primary {
	background: rgba(219, 65, 86, 1.0);
}

input:focus {
	border-color: rgba(200, 200, 200, 1.0) !important;
}