@import "node_modules/bulma/sass/utilities/initial-variables";

$scarlet: #CA3739;
$scarlet-invert: #FFFFFF;

$family-body: "PT Sans", sans-serif;
$family-heading: 'Nunito Sans', sans-serif;

$primary: $scarlet;
$primary-invert: $scarlet-invert;

$family-primary: $family-body;

$column-gap: 1.0rem;

@import "node_modules/bulma/bulma";